#color-rojo {
    color: red;
}

#color-amarillo {
    color: yellow;
}

#color-verde {
    color: green;
}

#color-naranja {
    color: orange;
}

#color-lima {
    color: yellowgreen;
}

#color-violeta {
    color: violet;
}

#color-beige {
    color: wheat;
}

#color-naranja-claro {
    color: lightsalmon;
}

#color-amarillo-naranja {
    color: chocolate;
}

#color-rosa {
    color: fuchsia;
}